**/bin/
**/obj/
**/.idea/
/Python/

/MyExpenses.WebApi/Dropbox/DropboxKeys.json

/MyExpenses.Sql/Database Models/Model - Test.sqlite
/MyExpenses.Sql/Database Models/Model - Using.sqlite
/MyExpenses.Sql/Database Models/Model - Using - Real.sqlite
/MyExpenses.Sql/Database Models/Excels

/MyExpenses.Wpf/Release
